# **Introduction to Python**

Reference: [AI Builders introduction to Python notebook](https://github.com/vistec-AI/ai-builders/blob/main/notebooks/ai_builder_intro_python.ipynb)

## 1. Basic Arithmethics

Python can run simple math expressions: `+`, `-`, `*` (for multiplication), and `/` (for division), `%` for modulo, `//` for Floor division, `**` for Exponentiation.

## 2. Variables

```py
# Print Command
print("Hello world!")

# Variables Type
10
186.5
"Hello worlds"
True
False
(1, 2)
{"name": "John Doe", "email": "john.doe@mail.com"}
[1, 2, 3, 4, 5, 8]
{1, 2, 3}
```

you can use `type(<variable_name>)` to get type of variables

## 3. Function

You can write a Python function by using:

``` py
def your_function_name(...):
    """Description of your function"""
    return ...
```

Generally, function name tells what function does.

### Example: Temperature conversion

We know that $\frac{C}{5} = \frac{F - 32}{9}$. Let's now write a function to convert temperature in Celcius to Farenheit and vice versa.

## 4. Conditions

Boolean is a type of variable which contain logic, it can be either `TRUE` or `FALSE`. Rational operation will give you a value of boolean.

**Relational operator** 

```py
5 > 2 # True
4 >= 5 # False
5 == 10 # False
'hello' == 'hello' # True
'Hello' == 'hello' # False
'hello' != 'hello' # False
'Hello' != 'hello'  # True
'orange' < 'apple' # compare by alphabetical order
```

**or, and, not Operator**
```py
digit = 3
digit == 8 or digit == 9 # False or False => False
not True # False
```

Boolean operator can be used with `if` command for checking conditions and make a decision relied on the given value.

In [ ]:
apple_total = 20
banana_total = 6
if apple_total > banana_total:
    print('A')


if apple_total > banana_total:
    print('A')
elif banana_total > apple_total:
    print('B')
else: # apple_total == banana_total
    print('T')

## 5.  Lists and For loops

Instead of applying function for each point of data manually, packing data into a `list` then apply a function for each elements is more practical. You can iteration along the member in the lsit by using `for`

In [ ]:
for fruit in ["apple", "orange", "tomato"]:
    print(fruit)

In [ ]:
for id, fruit in enumerate(["apple", "orange", "tomato"]):
    print(f"ID {id} : {fruit}")

In [ ]:
sum = 0
for i in range(10):
    sum += i
print(sum)

## 6. Class

In [ ]:
# Class Definitions
class Human():
    age = 0
    name = ''
    
    def __init__(self, input_name, input_age):
        self.name = input_name
        self.age = input_age
    
    def self_intro(self):
        print("Hi! I'm" + self.name) # or print("Hi! I'm {self.name}")

In [ ]:
# Object Instantiation
john = Human('johnathan wick', 20)

Now, Tye interact with the object using attributes and methods

```py
# Attibutes
print(john.name)
print(john.age)

# Methods
john.self_intro()
```

In [ ]:
# Define new class `Student` which inherited(extented) from `Human Class`

class Student(Human):   

    def print_student_id(self):
        print("My ID is 1234")

    def self_intro(self):
        print(f"Hi! I'm a Student. Please call me {self.name}.")
        # or 
        # print(f"Hi! I'm a Student. Please call me {self.name}.")

In [ ]:
# Object Instantiation
simon = Student('Simon Si', 21)

```py
# Artibute
print(simon.name)
print(simon.age)

# Methods
simon.self_intro()          # Something changed isn't it?
simon.print_student_id()
```

## 7. Modules and Packages

Packages are a way of structuring Python’s module namespace by using “dotted module names”.

## 8. Numpy library

NumPy is one of the the fundamental package for scientific computing in Python.

In [ ]:
# Import numpy module
import numpy as np

**Array Creation** : Manual creation from list, `arange` method, `zeros` method

In [ ]:

# ndarray creation
number_array = np.array([0, 1, 2, 3, 4, 5])
print(number_array)

arange_array = np.arange(6)
print(arange_array)

zero_array = np.zeros(6)
print(zero_array)

**Array Reshape** with `reshape`

In [ ]:
# ndarray reshape

reshape_number_array = number_array.reshape(2,3)
print(reshape_number_array)

**Attributes of ndarray** : `size`, `ndim`, `shape`, `dtype`

In [ ]:
def check_array_properties(array):
    print(f"Array type: {type(array)}" )
    print(f"Array Size {number_array.size}")
    print(f"Shape: {number_array.shape}")
    print(f"Dimesions: {number_array.ndim}")
    print(f"Dtype: {number_array.dtype}" )


print("----- number_array properties ------")
check_array_properties(number_array)

In [ ]:
print("----- reshape_number_array properties ------")
check_array_properties(reshape_number_array)

**Array Indexing, Slicing, Iterating**

In [ ]:
# Array Indexing

# from number_array = np.array([0, 1, 2, 3, 4, 5])
# index start from 0

print(number_array[0]) 
print(number_array[5])
print(number_array[-1])
print(number_array[-2])

In [ ]:
# Array Slicing

print(number_array[0:2])
print(number_array[2:5])
print(number_array[2:])

In [ ]:
# Array Iterating

for number in number_array:
    print(f"number {number} is in number_array")

## 8. **Matplotlib library**

Matplotlib is one of the visualization package in python

### Plotting random signal

In [ ]:
# Import matplotlib module
import matplotlib.pyplot as plt

# specify data length variable
data_length = 50

In [ ]:
# generate random signal for y axis (lowest value = 1, size of array = 50)
random_int = np.random.randint(low = 1, high = 100, size= data_length)

In [ ]:
# generate x axis
x_axis = np.linspace(1, data_length, num = data_length)

In [ ]:
# plot x and y
plt.plot(x_axis, random_int)

### Plotting 10 Hz Sine Wave (from numpy.org)

In [ ]:
# generate x axis array from 500 data points per second for 1 second
data_points = 500
x = np.linspace(0, 1, data_points)

# generate sine wave array  with frequency 10 Hz 
sin_10Hz = np.sin(2*np.pi*10*x) # sin(2 * pi * t) = 1 Hz

In [ ]:
# add x and y label
plt.xlabel('Angle [rad]')
plt.ylabel('sin(x)')

# plot with specific line color
plt.plot(x, sin_10Hz, color= 'green')

## 9. **Pandas library**

In [ ]:
# Import Pandas Module : For Dataframe Manager
import pandas as pd

# Load dataset CSV file. 
dataset = pd.read_csv("dataset.csv")

In [ ]:
# Print Dataset's Properties
dataset.info()

In [ ]:
# Look inside the dataframe
dataset.head(n=10)

In [ ]:
# Get Insulin data of ALL patients. Using object-like syntax.
dataset.Insulin

In [ ]:
# Get Insulin data of ALL patients. Using dictionary-like syntax.
dataset['Insulin']

In [ ]:
# By using a list, you can access multiple feature at a time.
columns = ['Insulin', 'BMI']
dataset[columns]

In [ ]:
# To get all feature from first patients (The first Row, Index[0]).
dataset.loc[0]

In [ ]:
# To get all feature from Row Index[0] to Index[3].
dataset.loc[0:3]

In [ ]:
# To get Row Index[0] to Index[3], On column 'Insulin' to 'Age'. (Including all columns in between)
dataset.loc[0:3, 'Insulin':'Age']

In [ ]:
# To get Row Index[0] to Index[3], On specific column which are 'BMI'and 'Age'.
dataset.loc[0:3, ['BMI', 'Age']]

---

## Challenges

These are some practice problems to ensure that you truly comprehend all of the previously listed concepts. All of these questions can be answered in a variety of ways. The sequence of the questions has nothing to do with difficulty, and you are not required to answer them in a certain ordering.

In [ ]:
### Basic Python

In [ ]:
# Example code 1 for Q-A01 to Q-A05

n = 3
for i in range (n):
    print(i)

In [ ]:
# Example code 2 for Q-A01 to Q-A05

n = 3
for i in range (n):
    print("X")

In [ ]:
# Example code 3 for Q-A01 to Q-A05

n = 3
for i in range (n):
    for j in range(n):
        print("O", end='')
    print("")

For **QA01 to Q-A05**, print the pattern as shown below when given `n = 4`.

**Q-A01** :

```
O 
O O
O O O
O O O O
```

**Q-A02** :

```
O X X X
O O X X
O O O X
O O O O
```

**Q-A03** : 

```
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
```

**Q-A04** : 

```
O O O X
O O X O
O X O O
X O O O
```

**Q-A05** : 

```
X X X 4
X X 3 4
X 2 3 4
1 2 3 4
```

**Q-A06** : from given list `x = []`, find MAX, MIN, MEAN, STD of the list.

*Suggestion : you can solve this question using either `pure python` or `by using numpy`.*

### Numpy and Matplotlib

**Q-B01** : given list `x = []`. Find the MAXIMUM number in the list and indicate the index of that number. In this case, the answer should be `` at index `` of the list.

**Q-B02** : Generate 2 Sine-wave of *10 hz and 50 Hz* at rate of 200 points per seconds for 1 second. Combine those signal and plot a graph.

### Pandas

For the Pandas Challenge, apelase load dataset file `dataset.csv` which provided on same folder as this notebook.

**Q-C01** : Load provided dataset, find the MAX, MIN MEAN, STD from `BMI` of all patients.

**Q-C02** : Load provided dataset, find the `MEAN BMI` of all patients who younger that 30 years old.

**Q-C03** : Load provided dataset, Use scatter plot (2D Plot) to show the relation between `Insulin` and `BMI`.